@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Roboto', 'bold';
    padding: 50px 0px 50px 50px;
}

h3 {
    text-align: center;
    color: #5e5e5e;
    padding: 15px 15px 15px 15px;
    font-family: 'Roboto', 'bold';
}

button {
    
    text-align: center;
    font-family: 'Roboto', 'bold';
}

#clock {
    background-color: #4BD7C2;
    text-align: center;
    font-family: 'Roboto', 'bold';
}